html,body{
	background: rgb(216,67,21);
	height:100%;
}


.card{
	
	position: absolute;
	left: 20%;
	top:115px;
	display: inline-block;
}



.card1{
	max-width:200px;
	position: relative;
	left: 20%;
	float: left;
	top:115px;
}

md-card{
	display: inline-block;
}

md-toolbar{

	width: 80%;
	position: fixed;
	left: 20%;
	box-shadow: 0px 10px 5px -5px rgba(5,5,5,0.3);
	
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 20px 0 20px 20px;
    text-decoration: none;
}

li a.active {
    background-color: #009688;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

